/**
 * @file Defines styles for the Blog page
 * @author Tom Jenkins tom@itsravenous.com
 */

.page-blog {

	// Tweak teasers' display
	.post-teaser {
		margin-bottom: $wsunit * 3;

		.post-teaser-title {
			margin-bottom: $wsunit / 2;
		}

		&:after {
			display: block;
			margin-top: $wsunit * 3;
			text-align: center;
			content: url('../img/bg-separator.png');
		}
	}
}