/**
 * @file Tallys font definition
 * @author Tom Jenkins tom@itsravenous.com
 */

@font-face {
	font-family: 'TallysFont';
	src: url('../fonts/tallys.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}