//-
	@file Page instance: Post template 
	@extends _page_default/_page_default


//- Page dependencies
include ../../organisms/_post/_post

//- Page template
extends ../../templates/_page_default/_page_default

//- Page variables to pass to template
block page_vars
	//- Get post
	- var post = posts.filter(function (post) { return post.uri == 'banishing-faux-italic-and-faux-bold--on-css3-fonts-in-IE-8-and-below' })[0]
	- post.content = []
	
	
	- post.content.push('<p>It has <a href="http://www.456bereastreet.com/archive/201012/font-face_tip_define_font-weight_and_font-style_to_keep_your_css_simple/">been</a> <a href="http://spaceninja.com/2010/11/font-face-faux-styles/">well</a> <a href="http://www.metaltoad.com/blog/how-use-font-face-avoid-faux-italic-and-bold-browser-styles">documented</a> that when using CSS3 fonts, you should define font-style and font-weight in the @font-face declaration, instead of doing what popular (and otherwise awesome) font services like <a href="http://www.fontsquirrel.com/">Font Squirrel</a> do - declaring a different font name for each style. So instead of:</p>')
	
	- post.content.push('')
	
	- post.content.push('<pre><code>/* Gentium Regular declaration */')
	
	- post.content.push('@font-face {')
	
	- post.content.push('    font-family: \'GentiumRegular\';')
	
	- post.content.push('    src: url(\'gentium-webfont.ttf\');')
	
	- post.content.push('    font-weight: normal;')
	
	- post.content.push('    font-style: normal;')
	
	- post.content.push('}')
	
	- post.content.push('')
	
	- post.content.push('/* Gentium Italic declaration */')
	
	- post.content.push('@font-face {')
	
	- post.content.push('    font-family: \'GentiumItalic\';')
	
	- post.content.push('    src: url(\'gentium_italic-webfont.ttf\');')
	
	- post.content.push('    font-weight: normal;')
	
	- post.content.push('    font-style: normal;')
	
	- post.content.push('}')
	
	- post.content.push('</code></pre>')
	
	- post.content.push('')
	
	- post.content.push('<p>you have:</p>')
	
	- post.content.push('')
	
	- post.content.push('<pre><code>/* Gentium Regular declaration */')
	
	- post.content.push('@font-face {')
	
	- post.content.push('    font-family: \'Gentium\';')
	
	- post.content.push('    src: url(\'gentium-webfont.ttf\');')
	
	- post.content.push('    font-weight: normal;')
	
	- post.content.push('    font-style: normal;')
	
	- post.content.push('}')
	
	- post.content.push('')
	
	- post.content.push('/* Gentium Italic declaration */')
	
	- post.content.push('@font-face {')
	
	- post.content.push('    font-family: \'Gentium\';')
	
	- post.content.push('    src: url(\'gentium_italic-webfont.ttf\');')
	
	- post.content.push('    font-weight: normal;')
	
	- post.content.push('    font-style: italic;')
	
	- post.content.push('}')
	
	- post.content.push('</code></pre>')
	
	- post.content.push('')
	
	- post.content.push('<p>This means that browsers don\'t add faux-italic/bold to your already italicised/bolded text, and that you can actually use font-style and font-weight in your CSS rules, rather than having to use a different font name just to get italic/bold text. The end result is simpler CSS and prettier text. So what\'s the catch?</p>')
	
	- post.content.push('')
	
	- post.content.push('<h2>So, Internet Explorer, we meet again</h2>')
	
	- post.content.push('')
	
	- post.content.push('<p>That\'s right. IE 8 and below don\'t support font-style and font-weight in the @font-face declaration. This means you end up with faux-italic and faux-bold text. For most typefaces, the faux-bold isn\'t so bad (though it\'s nowhere near as good as actual bold), but it\'s usually the faux-italic that really shows. Here\'s some text in <a href="http://www.fontsquirrel.com/fonts/Gentium-Basic">Gentium Basic</a>, rendered by IE 9 in true italic:</p>')
	
	- post.content.push('')
	
	- post.content.push('<p><img src="http://itsravenous.com/a/uploads/blog/true.png" alt="Text sample in true italic" title="" /></p>')
	
	- post.content.push('')
	
	- post.content.push('<p>and here\'s the same text, rendered by IE 8, in faux-italic.</p>')
	
	- post.content.push('')
	
	- post.content.push('<p><img src="http://itsravenous.com/a/uploads/blog/faux.png" alt="Text sample in faux-italic" title="" /></p>')
	
	- post.content.push('')
	
	- post.content.push('<p>Yuk, yes? So what can you do about it? The bad news is, there isn\'t a one-line fix. The good news is, that, as with many IE problems, we can solve it with conditional comments. So you remember those @font-face declarations which you stripped out of your Font Squirrel font-face kit -- one for each font-style? Put \'em back in. That\'s the quick part. The slightly longer part is rounding up all your CSS rules that specify an italic or bold font, and sticking them in your IE-only stylesheet like so:</p>')
	
	- post.content.push('')
	
	- post.content.push('<pre><code>/* Italic text */')
	
	- post.content.push('em, .intro, #nav .caption, cite, .source {')
	
	- post.content.push('    font-family: \'GentiumItalic\';')
	
	- post.content.push('    font-style: normal;')
	
	- post.content.push('}')
	
	- post.content.push('')
	
	- post.content.push('/* Bold text */')
	
	- post.content.push('strong, h1, h2, h3, h4, h5, h6, .title {')
	
	- post.content.push('    font-family: \'GentiumBold\';')
	
	- post.content.push('    font-weight: normal;')
	
	- post.content.push('}')
	
	- post.content.push('')
	
	- post.content.push('/* Bold-italic text */')
	
	- post.content.push('em strong, strong em, strong cite, cite strong {')
	
	- post.content.push('    font-family: \'GentiumBoldItalic\';')
	
	- post.content.push('    font-style: normal;')
	
	- post.content.push('    font-weight: normal;')
	
	- post.content.push('}')
	
	- post.content.push('</code></pre>')
	
	- post.content.push('')
	
	- post.content.push('<p>Hopefully your list of selectors isn\'t too long -- and if you\'ve been writing good CSS it shouldn\'t be!</p>')
	
	- post.content.push('')
	
	- post.content.push('<p>The only downside to this method is that, as with Font Squirrel\'s @font-face kits, if the font fails to load for any reason, no text will be shown in either bold or italic -- everything will be plain ol\' regular.</p>')
	
	- post.content.push('')
	
	- post.content.push('<h2>A good idea?</h2>')
	
	- post.content.push('')
	
	- post.content.push('<p>I just came up with this today after seeing the horrible things IE did to my serif font when faux-italicising it -- most of my recent projects that used CSS3 fonts were using sans-serif, which tend to suffer less. If you see any problems with the workaround, or any suggestions for improvement, feel free to <a href="http://www.twitter.com/itsravenous">drop me a tweet</a>.</p>')
	
	- post.content.push('')
	
	- post.content.push('<p><em>Note: I realise I haven\'t implemented the above on this, my own site - for the reason that there simply isn\'t much italic text on it! I\'m pretty sure the only italic is these little notices at the bottom of blog posts. When it starts to bug me, I\'ll add the fix, but time is cupcakes...</em>.</p>')
	
	- post.content = post.content.join("\n");
	- var page = {}
	- page.id = "post"
	- page.title = "Ravenous - " + post.title

//- Content block
block content
	+post(post)
