//-
	@file Page instance: Post template 
	@extends _page_default/_page_default


//- Page dependencies
include ../../organisms/_post/_post

//- Page template
extends ../../templates/_page_default/_page_default

//- Page variables to pass to template
block page_vars
	//- Get post
	- var post = posts.filter(function (post) { return post.uri == 'making-web-copywriting-pay-dividends-3' })[0]
	- post.content = []
	
	
	- post.content.push('<h2>The Balancing Act</h2>')
	
	- post.content.push('')
	
	- post.content.push('<p>We looked before at the difficulty of balancing your copy between friendliness and professionalism, and while it\'s clear it\'s not an easy line to tread, there are some simple methods for smoothing the process:</p>')
	
	- post.content.push('')
	
	- post.content.push('<ul>')
	
	- post.content.push('<li>Remember who your audience are. It\'s all too easy to get this wrong and end up patronising or alienating potential customers. If they\'re industry fellows, it won\'t hurt to use a little technical lingo, and you\'ll need to be careful about pointing out things they already know. If your buyers are largely domestic, however, you\'ll need to think about how to communicate your message without overwhelming them, and without rambling.</li>')
	
	- post.content.push('<li>Remember who you are. This is perhaps a little trickier. \'You\' refers partly to you as a person, especially if it\'s blog posts you\'re writing, but also encompasses your business as a whole. You want to present a united front, but with a vestige of personality. This can be affected by the size of your business: if you\'re a fairly small team then your copy will naturally reflect that and can afford to be idiomatic without seeming like just one person\'s voice out of many. In a larger company, however, you may wish to tone it down a little to make sure that it sounds like the rest of the company is behind you.</li>')
	
	- post.content.push('<li>Remember to read it back. Sounds obvious, but it can be surprisingly easy to forget. Spellcheck is your friend (as is Google if you decide to include any dubious facts).</li>')
	
	- post.content.push('</ul>')
	
	- post.content.push('')
	
	- post.content.push('<h2>Publishing</h2>')
	
	- post.content.push('')
	
	- post.content.push('<p>Your blog posts are no good if no-one reads them! Submit them to social bookmarking sites like <a href="http://digg.com/">Digg</a> and <a href="http://delicious.com/">Delicious</a>. If you\'re writing articles, you can send them off to article websites like Article Alley for a bit of free promotion (always read the Ts &amp; Cs to make sure you aren\'t giving away your work though!).</p>')
	
	- post.content.push('')
	
	- post.content.push('<h2>Together Alone</h2>')
	
	- post.content.push('')
	
	- post.content.push('<p>So, you\'ve written your beautiful copy and read it re-read it. It sounds great, and really works for your website. Job done, right? Wrong. There\'s just one more step you should think about taking -- read each piece of copy alongside the rest of your website. You should have a homogeneous tone across your whole site (blog posts by different authors aside) to ensure you are presenting a clear, professional voice to the people you care about most, your customers. Happy writing!</p>')
	
	- post.content = post.content.join("\n");
	- var page = {}
	- page.id = "post"
	- page.title = "Ravenous - " + post.title

//- Content block
block content
	+post(post)
