//-
	@file Page instance: Post template 
	@extends _page_default/_page_default


//- Page dependencies
include ../../organisms/_post/_post

//- Page template
extends ../../templates/_page_default/_page_default

//- Page variables to pass to template
block page_vars
	//- Get post
	- var post = posts.filter(function (post) { return post.uri == 'web-speech-api-demo-voice-recognition-mines-of-moria' })[0]
	- post.content = []
	
	
	- post.content.push('<p>You may have heard a lot about the new <a href="http://www.w3.org/community/speech-api/">Web Speech API</a>, currently only <a href="http://www.google.com/intl/en/chrome/demos/speech.html">implemented in Chrome</a>. There\'s a good walkthrough of Chrome\'s implementation and the API in general on the ever-useful <a href="http://updates.html5rocks.com/2013/01/Voice-Driven-Web-Apps-Introduction-to-the-Web-Speech-API">HTML5 Rocks</a>. It\'s likely to be most useful as a voice controller for HTML5 apps, but I can see it adding a dimension to games too, and wanted to play about with it a little and create something fun. Take a look at the demo below (which also include HTML5 audio and CSS 3D transforms and animations). If you know your Tolkien it\'ll be a cinch, but in case your Elvish is a little rusty, I\'m sure you can find a translator online somewhere...</p>')
	
	- post.content.push('')
	
	- post.content.push('<p><a href="http://aviary.itsravenous.com/moria" class="button">Enter the Mines of Moria</a></p>')
	
	- post.content.push('')
	
	- post.content.push('<p>I\'ve tried to make the source code as readable as possible, though it was written very quickly - checkout <a href="https://github.com/itsravenous/demos/tree/master/moria">the code</a> on Github, and feel free to fork. The various audio and image assets used are &copy; NewLine Cinema and are included purely for demonstration purposes.</p>')
	
	- post.content.push('')
	
	- post.content.push('<h2>Mutually Assured Delight</h2>')
	
	- post.content.push('')
	
	- post.content.push('<p>A bit of background - this game was part of a treasure hunt put together by <a href="http://github.com/sourcejedi">my brother</a> and I, which')
	
	- post.content.push('I would love to package up and put online at some point. My brother and I go perhaps three times a year to visit our aunt,')
	
	- post.content.push('uncle and cousins in Bristol, and for as long as I can remember, we\'ve subjected each other to treasure hunts: series of (usually cryptic, rhyming,')
	
	- post.content.push('or both) clues culminating in a prize hidden somewhere in the house. Last Christmas, it was our cousins\' turn to')
	
	- post.content.push('put on the hunt. They were older now, and wilier. And a little sadistic. One of the clues was in the middle of a')
	
	- post.content.push('ten-inch block of ice. So when we decided we would go down and visit at Easter, my brother and I felt we needed to')
	
	- post.content.push('up our game somewhat. Knowing that two of the three cousins had received an iPod touch each for Christmas, we decided')
	
	- post.content.push('to put on a HTML5 treasure hunt. Instead of lyrical clues stashed around the house, we hid QR codes. Each code took the')
	
	- post.content.push('<del>victim</del> <ins>cousin</ins> either to a picture clue for the location of the next code, or a mini-game hosted on')
	
	- post.content.push('my laptop (hidden upstairs). We had a gyro-based game where they had to tilt unstable isotopes into cooling chambers,')
	
	- post.content.push('a jamming signal setup, and more. The treasure hunt culminated in a nuclear-sub-style-press-both-buttons-at-once task which')
	
	- post.content.push('\'launched\' a rocket in one of the upstairs rooms (countdown &amp; blastoff noise with speakers set to max) which revealed the')
	
	- post.content.push('location of the \'treasure\' (various chocolatey goods).</p>')
	
	- post.content = post.content.join("\n");
	- var page = {}
	- page.id = "post"
	- page.title = "Ravenous - " + post.title

//- Content block
block content
	+post(post)
