//-
	@file Page instance: Post template 
	@extends _page_default/_page_default


//- Page dependencies
include ../../organisms/_post/_post

//- Page template
extends ../../templates/_page_default/_page_default

//- Page variables to pass to template
block page_vars
	//- Get post
	- var post = posts.filter(function (post) { return post.uri == 'wibble-wobble-working-at-jelly' })[0]
	- post.content = []
	
	
	- post.content.push('<p><img src="http://itsravenous.com/a/uploads/blog/mcr-jelly2.jpg" alt="" title="" /></p>')
	
	- post.content.push('')
	
	- post.content.push('<p>No, I\'m not perfecting a pudding recipe. I\'m actually already great at making jelly. What I am doing is beginning every Friday by getting on the tram, or (sometimes!) cycling, to Manchester from my flat in Altrincham where I spend most of my working hours. Why? To join a bunch of other freelancers, home-workers and people who want a break from their offices in the top floor of Manchester\'s Digital Laboratory, MadLab. This is Manchester Jelly.</p>')
	
	- post.content.push('')
	
	- post.content.push('<p>I find it a great opportunity to get through accounts, emails and content updates, or just try something new out code-wise. I\'m free to come in at eleven and leave at four, or turn up at nine and get booted out at six.</p>')
	
	- post.content.push('')
	
	- post.content.push('<p><img src="http://itsravenous.com/a/uploads/blog/mcr-jelly.jpg" alt="" title="" /></p>')
	
	- post.content.push('')
	
	- post.content.push('<p>There\'s free tea and coffee. Sometimes there are even biscuits. But there\'s always someone interesting there to talk to, should I wish to. There\'s no obligation to engage with conversation with any of the people sitting around me, but I inevitably find that I end up doing so. A quick introduction while making a brew often turns into a long chat about what we\'re working on, how much we charge, the pros (and cons) of being your own boss. That said, it\'s categorically not a networking event, and anyone entering the room spraying business cards will be reminded of that. It is, however, a co-working space that naturally tends toward the social -- the last Jelly of the year was marked by a potluck lunch and was a pretty packed affair (needless to say my mince pies went down a treat).</p>')
	
	- post.content.push('')
	
	- post.content.push('<p>It\'s a chance to get out of your head, escape cabin fever and meet some lovely new people. And it\'s not just happening in Manchester -- the original Jelly was founded in an NYC apartment back in 2006, and has inspired people to set up their own in over a hundred cities across the world, including Liverpool, which I sampled (thanks to a friend met at Mcr Jelly) on Thursday - and since it\'s funded by Liverpool John Moore University, you get a free giant sandwich and pot of tea! I highly recommend you find one near you.  </p>')
	
	- post.content.push('')
	
	- post.content.push('<p>Some links for ya:</p>')
	
	- post.content.push('')
	
	- post.content.push('<ul>')
	
	- post.content.push('<li><a href="http://manchesterjelly.com/">Manchester Jelly</a> </li>')
	
	- post.content.push('<li><a href="http://madlab.org.uk/">Manchester MadLab</a> -- the venue for Mcr Jelly -- offers free hire space for groups/clubs.</li>')
	
	- post.content.push('<li><a href="http://openlabs.org.uk/jelly/">Liverpool Jelly</a></li>')
	
	- post.content.push('<li><a href="http://workatjelly.com/">Work At Jelly</a> -- the founders\' site with history and a list of worldwide Jellies.</li>')
	
	- post.content.push('<li><a href="http://www.uk-jelly.org.uk">UK Jelly</a> -- UK specific Jelly site </li>')
	
	- post.content.push('</ul>')
	
	- post.content = post.content.join("\n");
	- var page = {}
	- page.id = "post"
	- page.title = "Ravenous - " + post.title

//- Content block
block content
	+post(post)
