/**
 * @file Button style
 * @author Tom Jenkins tom@itsravenous.com
 */

%button {
	@include frame;

	font-size: 2em;
	border: none;
	background: #202020; color: #fff;
	transition: all 0.2s;

	padding: 0.5em;
}
%button:hover,
%button:focus {
	background: #101010;
}

button,
.button {
	@extend %button;
}