@charset "UTF-8";


/**
 * @file Provides a mixin to style a circle
 */

/**
 * @param {CSS Length} offset from sides of parent
 */

/**
 * @file Provides a mixin to clearfix
 */

/**
 * @file Provides a mixin to position a child over its offset parent using absolute positioning
 */

/**
 * @param {CSS Length} offset from sides of parent
 */

/**
 * @file Provides mixins for elementQuery breakpoints
 */

/**
 * Writes a min-width elementQuery selector
 * @param {CSS Length} breakpoint width
 * @block Styles to apply at and above the given width
 */

/**
 * Writes a max-width elementQuery selector
 * @param {CSS Length} breakpoint width
 * @block Styles to apply at and below the given width
 */

/**
 * Writes a min-max-width elementQuery selector
 * @param {CSS Length} breakpoint width
 * @block Styles to apply at and below the given width
 */

/**
 * @file Frame mixin
 * @author Tom Jenkins tom@itsravenous.com
 */

/**
 * @file Some simple grid mixins
 * @author Tom Jenkins tom@itsravenous.com
 */

/**
 * @file Provides an 'off-screening' mixin
 * @author Tom Jenkins tom.jenkins@kp360group.com
 * @exports offscreen, onscreen
 */

/**
 * @file Tallys font definition
 * @author Tom Jenkins tom@itsravenous.com
 */

@font-face {
  font-family: 'TallysFont';
  src: url("../fonts/tallys.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* No files to import found in /helpers/** */

/*! normalize.css v2.1.0 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

/* line 22, ../../src/global-scss/_normalise.scss */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

/* line 32, ../../src/global-scss/_normalise.scss */

audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

/* line 41, ../../src/global-scss/_normalise.scss */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

/* line 50, ../../src/global-scss/_normalise.scss */

[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

/* line 64, ../../src/global-scss/_normalise.scss */

html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

/* line 74, ../../src/global-scss/_normalise.scss */

body {
  margin: 0;
  font-size: 16px;
  font-size: 1rem;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

/* line 87, ../../src/global-scss/_normalise.scss */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

/* line 96, ../../src/global-scss/_normalise.scss */

a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

/* line 109, ../../src/global-scss/_normalise.scss */

h1 {
  font-size: 2em;
  margin: 0;
}

/**
 * Reset heading margins
 */

/* line 117, ../../src/global-scss/_normalise.scss */

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

/* line 126, ../../src/global-scss/_normalise.scss */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 133, ../../src/global-scss/_normalise.scss */

sup {
  top: -0.5em;
}

/* line 137, ../../src/global-scss/_normalise.scss */

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Responsive media and remove img border inside links
 */

/* line 148, ../../src/global-scss/_normalise.scss */

img,
video {
  border: 0;
  max-width: 100%;
  height: auto;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

/* line 164, ../../src/global-scss/_normalise.scss */

fieldset {
  margin: 0;
  padding: 0;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

/* line 174, ../../src/global-scss/_normalise.scss */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

/* line 188, ../../src/global-scss/_normalise.scss */

button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

/* line 200, ../../src/global-scss/_normalise.scss */

button,
input {
  line-height: normal;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

/* line 215, ../../src/global-scss/_normalise.scss */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

/* line 225, ../../src/global-scss/_normalise.scss */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */

/* line 235, ../../src/global-scss/_normalise.scss */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

/* line 245, ../../src/global-scss/_normalise.scss */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

/* line 255, ../../src/global-scss/_normalise.scss */

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

/* line 268, ../../src/global-scss/_normalise.scss */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================================
   All elements to use border-box model (padding does not add to defined width)
   ========================================================================== */

/* line 276, ../../src/global-scss/_normalise.scss */

* {
  box-sizing: border-box;
  *behavior: url(../js/ie/boxsizing.htc);
}

/**
 * Definition list styles
 */

/* line 286, ../../src/global-scss/_normalise.scss */

dl {
  overflow: hidden;
}

/* line 290, ../../src/global-scss/_normalise.scss */

dt,
dd {
  float: left;
}

/* line 293, ../../src/global-scss/_normalise.scss */

dt {
  clear: left;
}

/* line 296, ../../src/global-scss/_normalise.scss */

dd {
  margin: 0 0 0 10px;
  margin: 0 0 0 0.625rem;
  font-weight: bold;
}

/*
 *  1: Base
 *
 */

/* line 305, ../../src/global-scss/_normalise.scss */

html {
  margin: 0;
  padding: 0;
  background: white url("../img/bg-page.jpg");
}

/* line 310, ../../src/global-scss/_normalise.scss */

a {
  color: #62250a;
  text-decoration: none;
}

/* line 314, ../../src/global-scss/_normalise.scss */

a:hover,
a:focus {
  color: #000;
}

/* line 317, ../../src/global-scss/_normalise.scss */

img {
  max-width: 100%;
  height: auto;
}

/* line 320, ../../src/global-scss/_normalise.scss */

label,
button,
input,
textarea {
  font-family: "TallysFont", serif;
  font-weight: normal;
}

/* line 326, ../../src/global-scss/_normalise.scss */

p,
li {
  margin: 0 0 1em 0;
  font-family: "TallysFont", serif;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.5;
}

/* line 332, ../../src/global-scss/_normalise.scss */

p em,
li em {
  font-family: 'Libre Baskerville', serif;
  font-size: 75%;
}

/* line 338, ../../src/global-scss/_normalise.scss */

form ul {
  padding: 0;
}

/* line 339, ../../src/global-scss/_normalise.scss */

form li {
  list-style: none;
}

/* line 342, ../../src/global-scss/_normalise.scss */

fieldset {
  border: none;
}

/* line 343, ../../src/global-scss/_normalise.scss */

button {
  padding: 0.5em;
  background: #202020;
  color: #fff;
}

/* line 348, ../../src/global-scss/_normalise.scss */

button:hover,
button:focus {
  background: #101010;
}

/* line 351, ../../src/global-scss/_normalise.scss */

button,
input,
textarea {
  font-size: 2em;
}

/* line 354, ../../src/global-scss/_normalise.scss */

label input,
label textarea {
  font-size: 1em;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* line 359, ../../src/global-scss/_normalise.scss */

  img[src*=".svg"] {
    width: 100%;
  }
}

/*

Original style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

/* line 7, ../../src/global-scss/syntax/_syntax.scss */

code {
  color: #5c5c5c;
}

/* line 11, ../../src/global-scss/syntax/_syntax.scss */

pre code {
  display: block;
  padding: 0.5em;
  background: #F0F0F0;
  font-size: 16px;
  font-size: 1rem;
}

/* line 20, ../../src/global-scss/syntax/_syntax.scss */

pre code,
pre .ruby .subst,
pre .tag .title,
pre .lisp .title {
  color: black;
}

/* line 49, ../../src/global-scss/syntax/_syntax.scss */

pre .string,
pre .title,
pre .constant,
pre .parent,
pre .tag .value,
pre .rules .value,
pre .rules .value .number,
pre .preprocessor,
pre .ruby .symbol,
pre .ruby .symbol .string,
pre .ruby .symbol .keyword,
pre .ruby .symbol .keymethods,
pre .instancevar,
pre .aggregate,
pre .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .addition,
pre .flow,
pre .stream,
pre .bash .variable,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .tex .special,
pre .erlang_repl .function_or_atom {
  color: #800;
}

/* line 57, ../../src/global-scss/syntax/_syntax.scss */

pre .comment,
pre .annotation,
pre .template_comment,
pre .diff .header,
pre .chunk {
  color: #888;
}

/* line 68, ../../src/global-scss/syntax/_syntax.scss */

pre .number,
pre .date,
pre .regexp,
pre .literal,
pre .smalltalk .symbol,
pre .smalltalk .char,
pre .go .constant,
pre .change {
  color: #080;
}

/* line 91, ../../src/global-scss/syntax/_syntax.scss */

pre .label,
pre .javadoc,
pre .ruby .string,
pre .decorator,
pre .filter .argument,
pre .localvars,
pre .array,
pre .attr_selector,
pre .important,
pre .pseudo,
pre .pi,
pre .doctype,
pre .deletion,
pre .envvar,
pre .shebang,
pre .apache .sqbracket,
pre .nginx .built_in,
pre .tex .formula,
pre .erlang_repl .reserved,
pre .input_number {
  color: #8888ff;
}

/* line 98, ../../src/global-scss/syntax/_syntax.scss */

pre .css .tag,
pre .javadoctag,
pre .phpdoc,
pre .yardoctag {
  font-weight: bold;
}

/* line 113, ../../src/global-scss/syntax/_syntax.scss */

pre .keyword,
pre .id,
pre .phpdoc,
pre .title,
pre .built_in,
pre .aggregate,
pre .smalltalk .class,
pre .winutils,
pre .bash .variable,
pre .apache .tag,
pre .go .typename,
pre .tex .command {
  font-weight: bold;
}

/* line 117, ../../src/global-scss/syntax/_syntax.scss */

pre .nginx .built_in {
  font-weight: normal;
}

/* line 124, ../../src/global-scss/syntax/_syntax.scss */

pre .xml .css,
pre .xml .javascript,
pre .xml .vbscript,
pre .tex .formula {
  opacity: 0.5;
}

/**
 * @file Button style
 * @author Tom Jenkins tom@itsravenous.com
 */

/* line 6, ../../src/atoms/_button/_button.scss */

button,
.button {
  display: inline-block;
  position: relative;
  border: none;
  font-size: 2em;
  border: none;
  background: #202020;
  color: #fff;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
  padding: 0.5em;
}

/* line 12, ../../src/global-scss/mixins/_frame.scss */

button:after,
.button:after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: url("../img/bg-frame-nw.png") 0 0 no-repeat, url("../img/bg-frame-ne.png") 100% 0 no-repeat, url("../img/bg-frame-se.png") 100% 100% no-repeat, url("../img/bg-frame-sw.png") 0 100% no-repeat, url("../img/bg-frame-ns.png") 0 0 repeat-x, url("../img/bg-frame-ns.png") 0 100% repeat-x, url("../img/bg-frame-ew.png") 100% 0 repeat-y, url("../img/bg-frame-ew.png") 0 0 repeat-y;
  content: '';
}

/* line 25, ../../src/global-scss/mixins/_frame.scss */

button input,
.button input {
  position: relative;
  z-index: 2;
}

/* line 26, ../../src/global-scss/mixins/_frame.scss */

button img,
.button img {
  display: block;
}

/* line 27, ../../src/global-scss/mixins/_frame.scss */

button > *,
.button > * {
  position: relative;
  z-index: 1;
}

/* line 29, ../../src/global-scss/mixins/_frame.scss */

button input,
.button input,
button textarea,
.button textarea {
  border: none;
}

/* line 17, ../../src/atoms/_button/_button.scss */

button:hover,
.button:hover,
button:focus,
.button:focus {
  background: #101010;
}

/**
 * @file Content image style
 * @author Tom Jenkins tom@itsravenous.com
 */

/* line 6, ../../src/atoms/_content_img/_content_img.scss */

.content-img {
  display: inline-block;
  position: relative;
  border: none;
}

/* line 12, ../../src/global-scss/mixins/_frame.scss */

.content-img:after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: url("../img/bg-frame-nw.png") 0 0 no-repeat, url("../img/bg-frame-ne.png") 100% 0 no-repeat, url("../img/bg-frame-se.png") 100% 100% no-repeat, url("../img/bg-frame-sw.png") 0 100% no-repeat, url("../img/bg-frame-ns.png") 0 0 repeat-x, url("../img/bg-frame-ns.png") 0 100% repeat-x, url("../img/bg-frame-ew.png") 100% 0 repeat-y, url("../img/bg-frame-ew.png") 0 0 repeat-y;
  content: '';
}

/* line 25, ../../src/global-scss/mixins/_frame.scss */

.content-img input {
  position: relative;
  z-index: 2;
}

/* line 26, ../../src/global-scss/mixins/_frame.scss */

.content-img img {
  display: block;
}

/* line 27, ../../src/global-scss/mixins/_frame.scss */

.content-img > * {
  position: relative;
  z-index: 1;
}

/* line 29, ../../src/global-scss/mixins/_frame.scss */

.content-img input,
.content-img textarea {
  border: none;
}

/* line 8, ../../src/atoms/_content_img/_content_img.scss */

.content-img img {
  display: block;
}

/**
 * @file Various heading styles
 * @author Tom Jenkins tom@itsravenous.com
 */

/* line 9, ../../src/atoms/_headings/_headings.scss */

.page-title,
.project-teaser-title,
h1,
h2,
h3 {
  font-family: "TallysFont", serif;
  font-weight: normal;
  text-transform: uppercase;
}

/* line 16, ../../src/atoms/_headings/_headings.scss */

h1 {
  font-size: 24px;
  font-size: 1.5rem;
}

/* line 21, ../../src/atoms/_headings/_headings.scss */

h2,
.section .section-heading h1 {
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 0.33em;
}

/* line 27, ../../src/atoms/_headings/_headings.scss */

h3,
.post-teaser-title {
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.167em;
}

/* line 33, ../../src/atoms/_headings/_headings.scss */

h4,
.section .section-heading h2 {
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
}

/**
 * @file Link styles
 * @author Tom Jenkins tom@itsravenous.com
 */

/* line 6, ../../src/atoms/_link/_link.scss */

a:link {
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}

/**
 * @file Defines styles for the Logo page
 * @author Tom Jenkins tom@itsravenous.com
 */

/* line 6, ../../src/atoms/_logo/_logo.scss */

.logo {
  width: 307px;
  height: 254px;
  margin: 0 auto;
  background: url("../img/logo.png") no-repeat;
  text-indent: -9999px;
}

/**
 * @file Defines styles for the More link component
 * @author Tom Jenkins tom@itsravenous.com
 */

/* More links */

/* line 7, ../../src/atoms/_more_link/_more_link.scss */

.more,
.more a {
  color: #808080;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 12.8px;
  font-size: 0.8rem;
  text-align: center;
}

/* line 14, ../../src/atoms/_more_link/_more_link.scss */

.more a:after,
a.more:after {
  content: ' »';
}

/* line 15, ../../src/atoms/_more_link/_more_link.scss */

.more:hover,
.more a:hover {
  color: #000;
}

/**
 * @file Page title style
 * @author Tom Jenkins tom@itsravenous.com
 */

/* line 6, ../../src/atoms/_page_title/_page_title.scss */

.page-title {
  font-size: 32px;
  font-size: 2rem;
  font-weight: bold;
  text-transform: none;
}

/**
 * @file Browser warning styles
 * @author Tom Jenkins tom@itsravenous.com
 */

/* line 6, ../../src/molecules/_browser_warning/_browser_warning.scss */

.browser-warning {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 10px;
  padding: 0.625rem;
  background: #ef4020;
  color: #fff;
  font-family: "Libre Baskerville", serif;
  font-size: 12.8px;
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
}

/**
 * @file Defines styles for the Content list component
 * @author Tom Jenkins tom@itsravenous.com
 */

/* Text list */

/* line 7, ../../src/molecules/_content_list/_content_list.scss */

.content-list {
  padding: 0 0 0 1em;
  list-style-position: outside;
  list-style-image: url("../img/ico-bullet.png");
}

/**
 * @file Figure styles
 * @author Tom Jenkins tom@itsravenous.com
 */

/* line 6, ../../src/molecules/_figure/_figure.scss */

figcaption {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  text-align: center;
}

/* line 15, ../../src/molecules/_figure/_figure.scss */

figure :not(.content-img) img,
figure .content-img {
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
}

/**
 * @file Defines styles for the Intro page
 * @author Tom Jenkins tom@itsravenous.com
 */

/* line 7, ../../src/molecules/_intro/_intro.scss */

.intro em {
  color: #000;
  font-style: normal;
}

/* line 11, ../../src/molecules/_intro/_intro.scss */

.intro-signature {
  color: #8f8f8f;
}

/* line 15, ../../src/molecules/_intro/_intro.scss */

.intro p {
  font-size: 32px;
  font-size: 2rem;
}

@media screen and (max-width: 800px) {
  /* line 15, ../../src/molecules/_intro/_intro.scss */

  .intro p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  /* line 15, ../../src/molecules/_intro/_intro.scss */

  .intro p {
    font-size: 1.25rem;
  }
}

/* line 26, ../../src/molecules/_intro/_intro.scss */

.intro {
  text-align: center;
}

/**
 * @file Defines styles for the Item list component
 * @author Tom Jenkins tom@itsravenous.com
 */

/* Item lists */

/* line 7, ../../src/molecules/_item_list/_item_list.scss */

.items {
  padding: 0;
  overflow: hidden;
}

/* line 8, ../../src/molecules/_item_list/_item_list.scss */

.items-three {
  font-size: 0.1px;
  text-align: justify;
}

/* line 24, ../../src/global-scss/mixins/_grids.scss */

.items-three > * {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  font-size: 16px;
  font-size: 1rem;
  text-align: left;
}

/* line 33, ../../src/global-scss/mixins/_grids.scss */

.items-three::after {
  content: '';
  display: inline-block;
  width: 100%;
}

/* Item lists */

@media screen and (max-width: 600px) {
  /* line 18, ../../src/molecules/_item_list/_item_list.scss */

  .items-three > *,
  .items-three > :nth-child(n) {
    float: none;
    width: auto;
    margin: 0 0 1em 0;
  }
}

/**
 * @file Defines styles for the Main nav component
 * @author Tom Jenkins tom@itsravenous.com
 */

/* Nav */

/* line 7, ../../src/molecules/_main_nav/_main_nav.scss */

.main-nav a {
  display: block;
  padding: 30px 5px;
  padding: 1.875rem 0.3125rem;
  color: #fff;
}

/* line 13, ../../src/molecules/_main_nav/_main_nav.scss */

.main-nav a:focus,
.main-nav a:hover,
.main-nav a:active {
  background: rgba(0, 0, 0, 0.25);
}

/* line 17, ../../src/molecules/_main_nav/_main_nav.scss */

.main-nav li {
  text-align: center;
}

/* line 20, ../../src/molecules/_main_nav/_main_nav.scss */

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background: rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  font-size: 0;
}

@media screen and (min-width: 700px) {
  /* line 20, ../../src/molecules/_main_nav/_main_nav.scss */

  .main-nav ul {
    background: none;
    border: none;
  }
}

/* line 11, ../../src/global-scss/mixins/_grids.scss */

.main-nav ul > * {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  font-size: 16px;
  font-size: 1rem;
}

/* line 33, ../../src/molecules/_main_nav/_main_nav.scss */

.main-nav ul li {
  margin: 0;
}

/* line 38, ../../src/molecules/_main_nav/_main_nav.scss */

.main-nav li.is-current a {
  color: #000;
}

@media screen and (min-width: 700px) {
  /* line 41, ../../src/molecules/_main_nav/_main_nav.scss */

  .main-nav li {
    float: left;
    width: 25%;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    font-weight: bold;
  }

  /* line 49, ../../src/molecules/_main_nav/_main_nav.scss */

  .main-nav li:first-child,
  .main-nav li + li {
    text-align: left;
  }

  /* line 53, ../../src/molecules/_main_nav/_main_nav.scss */

  .main-nav li:last-child,
  .main-nav li + li + li {
    text-align: right;
  }

  /* line 56, ../../src/molecules/_main_nav/_main_nav.scss */

  .main-nav li a {
    color: #a2654a;
  }

  /* line 60, ../../src/molecules/_main_nav/_main_nav.scss */

  .main-nav li a:focus,
  .main-nav li a:hover,
  .main-nav li a:active {
    background: none;
    color: #101010;
  }
}

/* line 67, ../../src/molecules/_main_nav/_main_nav.scss */

.main-nav {
  font-size: 1.5em;
  text-transform: uppercase;
}

/**
 * @file Defines styles for the Post teaser component
 * @author Tom Jenkins tom@itsravenous.com
 */

/* line 6, ../../src/molecules/_post_teaser/_post_teaser.scss */

.post-teaser-title {
  font-weight: bold;
}

/* line 11, ../../src/molecules/_post_teaser/_post_teaser.scss */

.post-teaser-date {
  font-family: "Libre Baskerville", serif;
  font-size: 12.8px;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: none;
  color: #8f8f8f;
}

/* line 19, ../../src/molecules/_post_teaser/_post_teaser.scss */

.post-teaser-img {
  display: inline-block;
  position: relative;
  border: none;
}

/* line 12, ../../src/global-scss/mixins/_frame.scss */

.post-teaser-img:after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: url("../img/bg-frame-nw.png") 0 0 no-repeat, url("../img/bg-frame-ne.png") 100% 0 no-repeat, url("../img/bg-frame-se.png") 100% 100% no-repeat, url("../img/bg-frame-sw.png") 0 100% no-repeat, url("../img/bg-frame-ns.png") 0 0 repeat-x, url("../img/bg-frame-ns.png") 0 100% repeat-x, url("../img/bg-frame-ew.png") 100% 0 repeat-y, url("../img/bg-frame-ew.png") 0 0 repeat-y;
  content: '';
}

/* line 25, ../../src/global-scss/mixins/_frame.scss */

.post-teaser-img input {
  position: relative;
  z-index: 2;
}

/* line 26, ../../src/global-scss/mixins/_frame.scss */

.post-teaser-img img {
  display: block;
}

/* line 27, ../../src/global-scss/mixins/_frame.scss */

.post-teaser-img > * {
  position: relative;
  z-index: 1;
}

/* line 29, ../../src/global-scss/mixins/_frame.scss */

.post-teaser-img input,
.post-teaser-img textarea {
  border: none;
}

/* line 23, ../../src/molecules/_post_teaser/_post_teaser.scss */

.post-teaser-teaser {
  font-size: 18px;
  font-size: 1.125rem;
}

/* line 29, ../../src/molecules/_post_teaser/_post_teaser.scss */

.post-teaser .post-teaser-date {
  margin-right: 20px;
  margin-right: 1.25rem;
}

/* line 33, ../../src/molecules/_post_teaser/_post_teaser.scss */

.post-teaser .post-teaser-title,
.post-teaser .post-teaser-date {
  display: inline-block;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

/**
 * @file Defines styles for the Project teaser page
 * @author Tom Jenkins tom@itsravenous.com
 */

/* line 6, ../../src/molecules/_project_teaser/_project_teaser.scss */

.project-teaser-img {
  display: inline-block;
  position: relative;
  border: none;
}

/* line 12, ../../src/global-scss/mixins/_frame.scss */

.project-teaser-img:after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: url("../img/bg-frame-nw.png") 0 0 no-repeat, url("../img/bg-frame-ne.png") 100% 0 no-repeat, url("../img/bg-frame-se.png") 100% 100% no-repeat, url("../img/bg-frame-sw.png") 0 100% no-repeat, url("../img/bg-frame-ns.png") 0 0 repeat-x, url("../img/bg-frame-ns.png") 0 100% repeat-x, url("../img/bg-frame-ew.png") 100% 0 repeat-y, url("../img/bg-frame-ew.png") 0 0 repeat-y;
  content: '';
}

/* line 25, ../../src/global-scss/mixins/_frame.scss */

.project-teaser-img input {
  position: relative;
  z-index: 2;
}

/* line 26, ../../src/global-scss/mixins/_frame.scss */

.project-teaser-img img {
  display: block;
}

/* line 27, ../../src/global-scss/mixins/_frame.scss */

.project-teaser-img > * {
  position: relative;
  z-index: 1;
}

/* line 29, ../../src/global-scss/mixins/_frame.scss */

.project-teaser-img input,
.project-teaser-img textarea {
  border: none;
}

/* line 9, ../../src/molecules/_project_teaser/_project_teaser.scss */

.project-teaser-img img {
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}

/* line 13, ../../src/molecules/_project_teaser/_project_teaser.scss */

.project-teaser-img:hover img {
  -webkit-filter: grayscale(40%);
          filter: grayscale(40%);
}

/* line 18, ../../src/molecules/_project_teaser/_project_teaser.scss */

.project-teaser-title {
  text-transform: none;
  font-weight: bold;
  padding: 20px 16px;
  padding: 1.25rem 1rem;
  text-align: center;
}

/* line 28, ../../src/molecules/_project_teaser/_project_teaser.scss */

.project-teaser-content p {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-size: 12.8px;
  font-size: 0.8rem;
  color: #5c5c5c;
  text-align: center;
}

/* line 36, ../../src/molecules/_project_teaser/_project_teaser.scss */

.project-teaser-content {
  padding: 0 20px;
  padding: 0 1.25rem;
}

/* line 41, ../../src/molecules/_project_teaser/_project_teaser.scss */

.project-teaser .project-teaser-img {
  display: block;
}

/**
 * @file Defines styles for the Contact form comp
 * @author Tom Jenkins tom@itsravenous.com
 */

/* line 9, ../../src/organisms/_contact_form/_contact_form.scss */

.form-contact label {
  display: inline-block;
  position: relative;
  border: none;
  color: #808080;
  text-transform: uppercase;
  letter-spacing: 0.33em;
  display: block;
  padding: 0.75em;
}

/* line 12, ../../src/global-scss/mixins/_frame.scss */

.form-contact label:after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: url("../img/bg-frame-nw.png") 0 0 no-repeat, url("../img/bg-frame-ne.png") 100% 0 no-repeat, url("../img/bg-frame-se.png") 100% 100% no-repeat, url("../img/bg-frame-sw.png") 0 100% no-repeat, url("../img/bg-frame-ns.png") 0 0 repeat-x, url("../img/bg-frame-ns.png") 0 100% repeat-x, url("../img/bg-frame-ew.png") 100% 0 repeat-y, url("../img/bg-frame-ew.png") 0 0 repeat-y;
  content: '';
}

/* line 25, ../../src/global-scss/mixins/_frame.scss */

.form-contact label input {
  position: relative;
  z-index: 2;
}

/* line 26, ../../src/global-scss/mixins/_frame.scss */

.form-contact label img {
  display: block;
}

/* line 27, ../../src/global-scss/mixins/_frame.scss */

.form-contact label > * {
  position: relative;
  z-index: 1;
}

/* line 29, ../../src/global-scss/mixins/_frame.scss */

.form-contact label input,
.form-contact label textarea {
  border: none;
}

/* line 18, ../../src/organisms/_contact_form/_contact_form.scss */

.form-contact label .label-text {
  position: absolute;
  top: 1.4em;
  left: 1.4em;
  z-index: 10;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}

/* line 28, ../../src/organisms/_contact_form/_contact_form.scss */

.form-contact label.is-active .label-text,
.form-contact label.is-filled .label-text {
  top: -1.5em;
  color: #303030;
}

/* line 34, ../../src/organisms/_contact_form/_contact_form.scss */

.form-contact label.is-invalid .label-text {
  color: #ef4020;
}

/* line 40, ../../src/organisms/_contact_form/_contact_form.scss */

.form-contact label input,
.form-contact label textarea {
  padding: 10px;
  padding: 0.625rem;
  resize: none;
  font-size: 24px;
  font-size: 1.5rem;
}

/* line 46, ../../src/organisms/_contact_form/_contact_form.scss */

.form-contact label input:focus,
.form-contact label textarea:focus {
  outline: none;
}

/* line 51, ../../src/organisms/_contact_form/_contact_form.scss */

.csstransforms3d .form-contact label.is-active .label-text {
  top: 1em;
  -webkit-transform: translate3d(0, -2.5em, 0);
          transform: translate3d(0, -2.5em, 0);
}

/* line 7, ../../src/global-scss/mixins/_clearfix.scss */

.form-contact:after {
  content: "";
  display: table;
  clear: both;
}

/* line 62, ../../src/organisms/_contact_form/_contact_form.scss */

.form-contact fieldset {
  float: left;
  width: 48%;
}

/* line 66, ../../src/organisms/_contact_form/_contact_form.scss */

.form-contact fieldset:first-child {
  margin-right: 4%;
}

/* line 71, ../../src/organisms/_contact_form/_contact_form.scss */

.form-contact label,
.form-contact input,
.form-contact textarea {
  width: 100%;
  box-sizing: border-box;
}

/* line 76, ../../src/organisms/_contact_form/_contact_form.scss */

.form-contact textarea {
  height: 7.7em;
}

/* line 77, ../../src/organisms/_contact_form/_contact_form.scss */

.form-contact button {
  width: 100%;
}

/* line 82, ../../src/organisms/_contact_form/_contact_form.scss */

.form-contact .label-text:after {
  content: ':';
}

/* line 83, ../../src/organisms/_contact_form/_contact_form.scss */

.form-contact .input {
  display: block;
  overflow: hidden;
  padding: 0 0.5em;
}

/* line 87, ../../src/organisms/_contact_form/_contact_form.scss */

.form-contact .input input {
  width: 100%;
  box-sizing: border-box;
}

/* line 94, ../../src/organisms/_contact_form/_contact_form.scss */

.form-contact fieldset li {
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}

@media screen and (max-width: 600px) {
  /* line 100, ../../src/organisms/_contact_form/_contact_form.scss */

  .form-contact fieldset,
  .form-contact fieldset:first-child {
    float: none;
    width: auto;
    margin: 0 0 0.5em 0;
  }
}

@media screen and (max-width: 600px) {
  /* line 108, ../../src/organisms/_contact_form/_contact_form.scss */

  button,
  input,
  textarea {
    font-size: 1.5em;
  }
}

/**
 * @file Main content wrapper
 * @author Tom Jenkins tom@itsravenous.com
 */

/* Content */

/* line 7, ../../src/organisms/_main_content/_main_content.scss */

.main-content {
  padding: 4em 2em 2em 2em;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

/* line 12, ../../src/organisms/_main_content/_main_content.scss */

.main-content .section {
  margin-bottom: 60px;
  margin-bottom: 3.75rem;
}

/**
 * @file Defines styles for the Main header component
 * @author Tom Jenkins tom@itsravenous.com
 */

/* line 7, ../../src/organisms/_main_header/_main_header.scss */

.main-header .main-header-inner {
  position: relative;
}

/* line 9, ../../src/organisms/_main_header/_main_header.scss */

.main-header .logo {
  display: block;
  position: relative;
  top: 40px;
  top: 2.5rem;
  z-index: 1;
}

/* line 16, ../../src/organisms/_main_header/_main_header.scss */

.main-header .main-nav {
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* line 23, ../../src/organisms/_main_header/_main_header.scss */

.main-header .nav-button {
  display: block;
  position: absolute;
  left: -9999px;
}

@media screen and (max-width: 700px) {
  /* line 30, ../../src/organisms/_main_header/_main_header.scss */

  .main-header .main-header-inner {
    width: auto;
    padding-bottom: 1.25rem;
  }

  /* line 35, ../../src/organisms/_main_header/_main_header.scss */

  .main-header .logo {
    top: 3.75rem;
  }

  /* line 39, ../../src/organisms/_main_header/_main_header.scss */

  .main-header .main-nav {
    position: absolute;
    top: 0;
    width: 100%;
  }
}

/**
 * @file Defines styles for the Page section component
 * @author Tom Jenkins tom@itsravenous.com
 */

/* line 6, ../../src/organisms/_page_section/_page_section.scss */

.section {
  padding-top: 2em;
  background: url("../img/bg-separator.png") 50% 0 no-repeat;
}

/* line 11, ../../src/organisms/_page_section/_page_section.scss */

.section .section-heading {
  max-width: 80%;
  margin: 5px auto 40px auto;
  margin: 0.3125rem auto 2.5rem auto;
}

/* line 17, ../../src/organisms/_page_section/_page_section.scss */

.section .section-heading {
  text-align: center;
}

/* line 23, ../../src/organisms/_page_section/_page_section.scss */

.section .section-heading h2 {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  text-transform: none;
  color: #8f8f8f;
}

/* line 30, ../../src/organisms/_page_section/_page_section.scss */

.section .section-heading.is-error {
  color: #ef4020;
}

/* line 36, ../../src/organisms/_page_section/_page_section.scss */

.section .section-heading h1 {
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
}

@media screen and (max-width: 400px) {
  /* line 43, ../../src/organisms/_page_section/_page_section.scss */

  .section .section-heading h3 {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  /* line 47, ../../src/organisms/_page_section/_page_section.scss */

  .section .section-heading {
    max-width: none;
  }
}

/**
 * @file Defines styles for the Post page
 * @author Tom Jenkins tom@itsravenous.com
 */

/* line 6, ../../src/organisms/_post/_post.scss */

.post h1 {
  font-size: 32px;
  font-size: 2rem;
  font-weight: bold;
  text-transform: none;
  letter-spacing: normal;
  color: #292929;
}

/* line 13, ../../src/organisms/_post/_post.scss */

.post-date {
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  font-size: 1.125rem;
  color: #8f8f8f;
}

/* line 22, ../../src/organisms/_post/_post.scss */

.post-content h2,
.post-content h3 {
  letter-spacing: normal;
  text-transform: none;
  font-size: 32px;
  font-size: 2rem;
  font-weight: bold;
}

/* line 28, ../../src/organisms/_post/_post.scss */

.post-content h3 {
  font-size: 24px;
  font-size: 1.5rem;
}

/* line 32, ../../src/organisms/_post/_post.scss */

.post-content p,
.post-content li {
  font-size: 24px;
  font-size: 1.5rem;
}

/* line 35, ../../src/organisms/_post/_post.scss */

.post-content del {
  color: #8f8f8f;
  text-decoration: line-through;
}

/* line 39, ../../src/organisms/_post/_post.scss */

.post-content ins {
  color: #292929;
  text-decoration: none;
}

/* line 45, ../../src/organisms/_post/_post.scss */

.post-content h2 {
  margin-top: 30px;
  margin-top: 1.875rem;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

/* line 52, ../../src/organisms/_post/_post.scss */

.post h1 {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

/* line 55, ../../src/organisms/_post/_post.scss */

.post .post-date {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}

/**
 * @file Post teaser list
 * @author Tom Jenkins tom@itsravenous.com
 */

/* line 6, ../../src/organisms/_post_teasers/_post_teasers.scss */

.post-teasers {
  font-size: 0.1px;
  text-align: justify;
}

/* line 24, ../../src/global-scss/mixins/_grids.scss */

.post-teasers > * {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  font-size: 16px;
  font-size: 1rem;
  text-align: left;
}

/* line 33, ../../src/global-scss/mixins/_grids.scss */

.post-teasers::after {
  content: '';
  display: inline-block;
  width: 100%;
}

@media screen and (max-width: 800px) {
  /* line 11, ../../src/organisms/_post_teasers/_post_teasers.scss */

  .post-teasers .post-teaser {
    float: none;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2.5rem;
  }
}

/**
 * @file Defines styles for the Project page
 * @author Tom Jenkins tom@itsravenous.com
 */

/**
 * @file Project teaser list
 * @author Tom Jenkins tom@itsravenous.com
 */

/* line 6, ../../src/organisms/_project_teasers/_project_teasers.scss */

.project-teasers {
  font-size: 0.1px;
  text-align: justify;
}

/* line 7, ../../src/global-scss/mixins/_clearfix.scss */

.project-teasers:after {
  content: "";
  display: table;
  clear: both;
}

/* line 24, ../../src/global-scss/mixins/_grids.scss */

.project-teasers > * {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  font-size: 16px;
  font-size: 1rem;
  text-align: left;
}

/* line 33, ../../src/global-scss/mixins/_grids.scss */

.project-teasers::after {
  content: '';
  display: inline-block;
  width: 100%;
}

@media screen and (max-width: 600px) {
  /* line 11, ../../src/organisms/_project_teasers/_project_teasers.scss */

  .project-teasers .project-teaser {
    float: none;
    width: 380px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
  }
}

/**
 * @file Defines styles for a page_default module
 */

/* Wrapper */

/* line 8, ../../src/templates/_page_default/_page_default.scss */

body .main-header-inner,
body .main-content-inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 1010px) {
  /* line 17, ../../src/templates/_page_default/_page_default.scss */

  body .main-header-inner,
  body .main-content-inner {
    width: 95%;
  }
}

/**
 * @file About page styles
 * @author Tom Jenkins tom@itsravenous.com
 */

/* line 8, ../../src/pages/_about/_about.scss */

.page-about .main-content-inner {
  text-align: center;
}

/* line 13, ../../src/pages/_about/_about.scss */

.page-about .main-content-inner figure {
  display: inline-block;
}

@media screen and (min-width: 1000px) {
  /* line 8, ../../src/pages/_about/_about.scss */

  .page-about .main-content-inner {
    text-align: justify;
  }

  /* line 20, ../../src/pages/_about/_about.scss */

  .page-about .main-content-inner::after {
    content: '';
    display: inline-block;
    width: 100%;
  }

  /* line 26, ../../src/pages/_about/_about.scss */

  .page-about .main-content-inner figure {
    width: 45%;
    margin: 0 0 2.5rem 0;
  }
}

/**
 * @file Defines styles for the Blog page
 * @author Tom Jenkins tom@itsravenous.com
 */

/* line 9, ../../src/pages/_blog/_blog.scss */

.page-blog .post-teaser {
  margin-bottom: 60px;
  margin-bottom: 3.75rem;
}

/* line 12, ../../src/pages/_blog/_blog.scss */

.page-blog .post-teaser .post-teaser-title {
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
}

/* line 16, ../../src/pages/_blog/_blog.scss */

.page-blog .post-teaser:after {
  display: block;
  margin-top: 60px;
  margin-top: 3.75rem;
  text-align: center;
  content: url("../img/bg-separator.png");
}

/**
 * @file Defines styles for the Home page
 * @author Tom Jenkins tom@itsravenous.com
 */

/* line 6, ../../src/pages/_home/_home.scss */

.project-teasers {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}

/* line 10, ../../src/pages/_home/_home.scss */

.post-teasers {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

/**
 * @file Defines styles for the Projects page
 * @author Tom Jenkins tom@itsravenous.com
 */

/* line 7, ../../src/pages/_projects/_projects.scss */

.project-teaser {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}

/**
 * @file _debug.scss
 * Debug/testing styles - should be empty on launch.
 */