//-
	@file Page instance: Home 
	@extends _page_default/_page_default

//- Page dependencies
include ../../molecules/_intro/_intro
include ../../molecules/_project_teaser/_project_teaser
include ../../molecules/_post_teaser/_post_teaser
include ../../organisms/_page_section/_page_section

//- Page template
extends ../../templates/_page_default/_page_default

//- Page variables to pass to template
block page_vars
	- var page = {}
	- page.id = "home"
	- page.title = "home"

//- Content block
block content

	+intro("This is the portfolio of Tom Jenkins, freelance web developer based in Manchester. I bet he promised you coffee and cake. Good luck; he hasn't fed me in years. In return, I haunt his conscience daily and force him to work on socially responsible website and mobile app projects. Strange karma, but there you go. Besides, he enjoys it.", "Yours, <em>The Raven</em>")

	+page_section("Recent creations", "I create websites & mobile apps. Here are some of my latest.")#portfolio.section
		.project-teasers
			each project in projects.slice(0, 3)
				+project_teaser(project.title, project.uri, project.images[0])
		
		p.more
			a(href="projects") See all work

	+page_section("Frantic scratchings", "Sometimes I have to solve strange problems. Sometimes I write about that here.")#blog.section
		.post-teasers
			each post in posts.slice(0, 3)
				+post_teaser(post.title, post.uri, post.teaser, post.date)

		p.more
			a(href="blog") See all posts