/**
 * @file Defines styles for the Main header component
 * @author Tom Jenkins tom@itsravenous.com
 */

.main-header {
	.main-header-inner { position: relative; }

	.logo {
		display: block;
		position: relative;
		top: $wsunit * 2;
		z-index: 1;
	}

	.main-nav {
		position: absolute;
		width: 100%;
		bottom: 0;
	}

	.nav-button
	{
		display: block;
		position: absolute;
		left: -9999px;
	}

	@media screen and (max-width: 700px) {
		.main-header-inner {
			width: auto;
			padding-bottom: $wsunit;
		}

		.logo {
			top: $wsunit * 3;
		}

		.main-nav {
			position: absolute;
			top: 0;
			width: 100%;
		}
	}

}

