//-
	@file Defines a Project teaser mixin
	@author Tom Jenkins tom@itsravenous.com

//- Dependencies

//- Definition
mixin project_teaser(title, uri, image, content, showTitle)

	article.project-teaser&attributes(attributes)

		a(href=uri)

			.project-teaser-img
				img(alt=showTitle ? '' : title, src="/content/projects/"+image)

			if (showTitle)
				h1.project-teaser-title #{title}

		if(content)
			.project-teaser-content!= content



