//-
	@file Browser warning bar for IE8 and below
	@author Tom Jenkins tom@itsravenous.com
 

mixin browser_warning()
	p.browser-warning Your web browser is very outdated. You can continue to use the site, but things may look a bit like an Emily Dickinson poem - all over the place with lots of interruptions. Consider <a href="http://browsehappy.com/">upgrading to a modern browser</a>.