/**
 * @file Defines styles for the Logo page
 * @author Tom Jenkins tom@itsravenous.com
 */

.logo {
	width: 307px; height: 254px;
	margin: 0 auto;
	background: url('../img/logo.png') no-repeat;
	text-indent: -9999px;
}