/**
 * @file Defines styles for the Item list component
 * @author Tom Jenkins tom@itsravenous.com
 */

/* Item lists */
.items { padding: 0; overflow: hidden; }
.items-three {
	@include autogrid(30%);
}



/* Item lists */
@media screen and (max-width: 600px) {
	
	.items-three > *,
	.items-three > :nth-child(n) {
		float: none;
		width: auto;
		margin: 0 0 1em 0;
	}
}
