/**
 * @file Defines styles for the Post page
 * @author Tom Jenkins tom@itsravenous.com
 */

.post h1 {
	font-size: $font-size-xxlarge;
	font-weight: bold;
	text-transform: none;
	letter-spacing: normal;
	color: $darkgrey;
}
.post-date {
	font-family: $font-family-alt2;
	font-size: $font-size-large;
	color: $midgrey;
}

.post-content figure {
	caption {
		font-family: $font-family-alt2;
	}
}
.post-content {

	// Styles
	h2,
	h3 {
		letter-spacing: normal;
		text-transform: none;
		font-size: $font-size-xxlarge;
		font-weight: bold;
	}
	h3 {
		font-size: $font-size-xlarge;
	}
	p,
	li {
		font-size: $font-size-xlarge;
	}
	del {
		color: $midgrey;
		text-decoration: line-through;
	}
	ins {
		color: $darkgrey;
		text-decoration: none;
	}

	// Layout
	h2 {
		margin-top: $wsunit * 1.5;
		margin-bottom: $wsunit;
	}
	figure {
		margin-bottom: 2rem;
	}
	@media screen and (min-width: 40rem) {
		figure {
			float: right;
			width: 50%;
			margin-left: 2rem;
		}
	}
}

.post {
	h1 {
		margin-bottom: $wsunit;
	}
	.post-date {
		margin-bottom: $wsunit * 2;
	}
}