/**
 * @file Defines styles for the Main nav component
 * @author Tom Jenkins tom@itsravenous.com
 */

/* Nav */
.main-nav a {
	display: block;
	padding: $wsunit * 1.5 $wsunit / 4;
	color: #fff;
	&:focus,
	&:hover,
	&:active {
		background: rgba(0, 0, 0, 0.25);
	}
}
.main-nav li {
	text-align: center;
}
.main-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	background: rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	@media screen and (min-width: 700px) {
		background: none;
		border: none;
	}

	// Layout
	@include grid(4);
	li {
		margin: 0;
	}
}

.main-nav li.is-current a { color: #000; }

@media screen and (min-width: 700px) {
	.main-nav li {
		float: left;
		width: 25%;
		text-align: center;
		text-shadow: 0 1px 1px #fff;
		font-weight: bold;
	}
	.main-nav li:first-child,
	.main-nav li+li {
		text-align: left;
	}
	.main-nav li:last-child,
	.main-nav li+li+li {
		text-align: right;
	}
	.main-nav li a {
		color: #a2654a;
		&:focus,
		&:hover,
		&:active {
			background: none;
			color: #101010;
		}
	}
}

.main-nav {
	font-size: 1.5em;
	text-transform: uppercase;
}