//-
	@file Defines a Main nav mixin
	@author Tom Jenkins tom@itsravenous.com

//- Dependencies

//- Definition
mixin main_nav()

	nav.main-nav
		ul
			li
				a(href="/about") About
			li
				a(href="/projects") Work
			li
				a(href="/blog") Blog
			li
				a(href="/contact") Contact
