/**
 * @file Defines styles for the Contact form comp
 * @author Tom Jenkins tom@itsravenous.com
 */



// Frame labels
.form-contact label {
	@include frame;
	color: #808080;
	text-transform: uppercase;
	letter-spacing: 0.33em;

	display: block;
	padding: 0.75em;	

	.label-text {
		position: absolute;
		top: 1.4em;
		left: 1.4em;
		z-index: 10;
		transition: all 0.2s;
	}

	&.is-active {
		.label-text {
			top: -2.5em;
			color: #303030;
		}
	}
	&.is-filled {
		.label-text {
			color: transparent;
			z-index: -1;
		}
	}

	input,
	textarea {
		padding: $wsunit / 2;
		resize: none;
		font-size: $font-size-xlarge;
	}
	input:focus,
	textarea:focus {
		outline: none;
	}
}
.csstransforms3d {
	.form-contact label.is-active .label-text {
		top: 1em;
		transform: translate3d(0, -2.5em, 0);
	}
}




.form-contact {
	@include clearfix;
}
.form-contact fieldset {
	float: left;
	width: 48%;
}
.form-contact fieldset:first-child {
	margin-right: 4%;
}
.form-contact label,
.form-contact input,
.form-contact textarea {
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form-contact textarea { height: 7.7em; }
.form-contact button {
	width: 100%;
}


.form-contact .label-text:after { content: ':'; }
.form-contact .input {
	display: block; overflow: hidden;
	padding: 0 0.5em;
}
.form-contact .input input {
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.form-contact fieldset li {
	margin-bottom: $wsunit * 1.5;
}

@media screen and (max-width: 600px) {
	.form-contact fieldset,
	.form-contact fieldset:first-child {
		float: none;
		width: auto;
		margin: 0 0 0.5em 0;
	}
}

@media screen and (max-width: 600px) {
	button, input, textarea {
		font-size: 1.5em;
	}
}