//-
	@file Defines a Post teaser mixin
	@author Tom Jenkins tom@itsravenous.com

//- Dependencies

//- Definition
mixin post_teaser(title, uri, teaser, date)
	- datef = new Date(date).toString().split(' ').slice(0, 4).join(' ');

	article.post-teaser
		a(href='/blog/'+uri)
			time.post-teaser-date(pubdate=date) #{datef}
			h1.post-teaser-title!= title


		p.post-teaser-teaser!= teaser
